env:
  global:
    - LC_CTYPE=en_US.UTF-8
matrix:
  include:
    - os: osx
      language: objective-c
      osx_image: xcode10.1
      install:
        - ./scripts/install_swiftlint.sh
        - git submodule update --init --recursive
      script:
        - xcodebuild build-for-testing test-without-building -scheme Carbon -configuration Release -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone X' ENABLE_TESTABILITY=YES | xcpretty - c

notifications:
  email: false